.listItem {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

.icon {
    margin-right: 15px;
}

.name {
    color: var(--primary-txt-col);
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: var(--primary-acc-col);
    }
}