.authBlock {
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.userIcon {
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-weight: 600;
    color: var(--secondary-txt-col);
    border-radius: 50%;
    background-color: var(--secondary-back-col);
}

.userName {
   color: var(--secondary-txt-col);
}