.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
    &:hover {
        .delIcon {
            display: flex;
        }
    }
}

.document {
    display: flex;
    align-items: center;
}

.docIcon {
    margin-right: 15px;
}

.delIcon {
   display: none;
}

.name {
    color: var(--primary-txt-col);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: var(--primary-acc-col);
    }
}